<!DOCTYPE html>
<html>
<head>
	<TITLE name='h1'>
		html Text
	</TITLE>
</head>

<body>
	<h1>
		Tell me about Yourself!
	</h1>
	<h2>
		Enter your name in the First Section
	</h2>	
	<h3>
		Enter your school in the Second Section
	</h3>
	<h4>
		Enter where you're from in the Final Section
	</h4>
</body>

<style>
	h1{
		color: red
	}
	h2{
		color: yellow;
	}
	h3{
		color: green;
	}
	body{
		text-align: center;
		background-image: url('{{url_for('static', filename='IMG_6837.jpg')}}');
		background-repeat: no-repeat;
		background-size:cover;
	}
</style>

</html>